/* ------------------------------ COLORS 
bg:	#6d3469; 
green: #346d3c;
nav z-index = 1020
pre loader z-index = 10
------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
  color: black;
}
a,
a:hover {
  text-decoration: none;
}
body {
  background-color: #fff;
  font-family: sans-serif;
  overflow-x: hidden;

}
/* -----------------------------header------------------------------*/
.mainheader {
  background-color: #6d3469;
  background-image: linear-gradient(149deg, #6d3469 0%, #fff 117%);
}
/* ------------------------------logo------------------------------*/
#amber {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
#es {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
/* ------------------------------ end logo------------------------------*/
/* ------------------------------nav ------------------------------*/
.navbar {
  transition: all 0.5s;
  border: none;
  background: 0;
  border-radius: 0;
}
nav ul li {
  padding: 0 15px;
}
.navbar .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar .navbar-brand {
  color: #fff;
}
.navbar-toggler {
  font-size: 1.7rem;
}

/* ------------------------------navbar on scroll ------------------------------*/
.navbar.active {
  background: #fff;
  color: black;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link,
.navbar.active .navbar-brand,
.navbar.active #amber {
  color: #346d3c;
}
.navbar.active #es {
  color: #1855b0;
}
/* --------------------- ---------Nav on <md screens------------------------------*/
@media (max-width: 768px) {
  .navbar {
    background: #fff;
    color: #346d3c;
  }

  #amber,
  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #346d3c;
  }
  .navbar-brand {
    padding-left: 20px;
  }
  #es {
    color: #1855b0;
  }
  .navbar li {
    margin: 0 auto;
  }
}
/* ------------------------------ end nav ------------------------------*/
/* ------------------------------ jumbotron btns ------------------------------*/
@media (max-width: 1200px) {
  .jumbotron a button {
    display: block;
    margin-bottom: 5px;
  }
}
/* ------------------------------ end header -----------------------------*/
/*--------------------- section2 - Nivolumab  ---------------------*/
#HCC::before {
  content: '';
  display: block;
  height: 160px;
  margin-top: -160px;
  visibility: hidden;
}
/*--------------------- section3 - papersections ---------------------*/
#papersections {
  padding: 8rem 0;
  background-color: #F3F3FB;
}
#papersections .section {
	background-color: #fff;
	border: 1px solid #ececec;
    margin: 10px;
    padding: 20px;
    border-radius: 4px 35px;
    -webkit-box-shadow: 0px 0px 59px -48px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 59px -48px rgba(0,0,0,1);
	box-shadow: 0px 0px 59px -48px rgba(0,0,0,1)
}
#papersections .section:hover {
    -webkit-box-shadow: 0px 0px 59px -48px rgba(0,0,0,0);
	-moz-box-shadow: 0px 0px 59px -48px rgba(0,0,0,0);
	box-shadow: 0px 0px 59px -48px rgba(0,0,0,0)
}
#papersections .section img {
	max-width: 100%;
	max-height: 100px;
	margin-bottom: 3rem;
}
/*--------------------------svg--------------------------------*/
.svgshape {
    position: static;
	background-color: #F3F3FB;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.svgshape svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 47px;
}

.svgshape .shape-fill {
    fill: #6d3469;
}
/* ----------------------------footer ------------------------------*/

footer {
  background: #6d3469;
  padding-top: 1rem;
}
footer ul li,
footer h4,
footer p {
  color: white;
}
footer .eslabslogo {
  max-width: 310px;
  max-height: 250px;
  margin: 0 10px;
}
footer .amberlogo {
  max-width: 220px;
  margin: 0 10px;
}
footer .copyrights {
  background-color: #5a2b57;
}
footer .connect a,
.connect i {
  color: white;
  font-size: 15px;
}
footer .connect i {
  margin-right: 5px;
}

/*-------------------down section on small screens-------------------------*/
@media (max-width: 768px) {
  footer .eslabslogo,
  footer .amberlogo {
    margin: 3rem 10px;
  }
}

/* ----------------------------end footer---------------------------*/
/* ----------------------------pageloader---------------------------*/
.endpreloader {
  opacity: 0;
  pointer-events: none;
}
.preloader {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #6d3469;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease 0.5s;
}
.preloader h3 {
  position: absolute;
  top: 75%;
  color: white;
}
.loader {
  position: fixed;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Loader circles */
.loader > span {
  background: #fff;
  border-radius: 50%;
  margin: 5rem 0.5rem;
  animation: bouncingLoader 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
  animation-delay: 0.4s;
}

/* loader animation */
@keyframes bouncingLoader {
  from {
    width: 0.1rem;
    height: 0.1rem;
    opacity: 1;
    transform: translate3d(0);
  }
  to {
    width: 1rem;
    height: 1rem;
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}

/*---------------------------------------  Results Page   ------------------------------------------*/
.resultsheader{
	background-color: white;
}
